@import url("reset.css");

:root {
   --black-main-color: #333;
   --main-orange-color: #F58220;
   --main-white-color: #fff; 
}


body {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--black-main-color);
   padding: 15px;
   height: 100vh;
}
label {
   width: 100%;
}
/* HIDE NUMBER INPUTS UP/DOWN ARROWS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* END HIDE NUMBER INPUTS UP/DOWN ARROWS */
input[type=number] input[type=text] input[type=textarea] {
   border: 1px solid #ccc;
   background-color: #fbfbfb;
   border-radius: 2px;
}


#entry-form-container {
   padding: 10px;
   width: 450px;
   background-color: #dddddd;
}
#entry-form {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   gap: 15px;
   width: 100%;
   padding: 10px;
   background-color: aliceblue;
}

.form-control {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   padding: 10px;
   width: 100%;
   border-radius: 4px;
   border: solid 1px grey;
   background-color: white;
}

#submit-button {
   padding: 10px;
   border-radius: 2px;
   border: none;
   color: #f6f6f6;
   background-color: var(--main-orange-color);
}